.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  width: 100%;
  min-height: 150px; /* Фіксована мінімальна висота для Description і Options */
  display: flex;
  flex-direction: column;
  align-items: center;
}
